<div class="row">
  <ul>
  <li><strong>{{answer.content}}</strong> ~<i> {{answer.user}}</i></li>
</ul>

<button type="button" class="btn btn-info"{{action 'delete' answer}}><small>Delete Answer</small></button>
</div>
