<div class="row">
  <ul>
    <li><strong>{{answer.content}}</strong> ~<i> {{answer.user}}</i></li>
  </ul>

  <p><button type="button" class="btn btn-danger" {{action 'delete' answer}}><small>Delete Answer</small></button></p>
</div>
