<div class="container" id="row4">
  <h2>{{#link-to 'category' category.id}} {{category.categoryname}}{{/link-to}}</h2><small> by {{category.author}}</small>
  <ul>
    <h4>{{category.question}}</h4>

  </ul>

</div>
