<div class="new-answer"><strong>Answer Here:</strong>
  <form>
    <div class="form-group">
      <label for="user">Your Name:</label> {{input value=user id="user"}}
      <label for="content">Comment:</label> {{input value=content id="content"}}
    </div>
    <button type="button" class="btn btn-success" {{action 'saveAnswer'}}>Save</button>
  </form>
</div>
