<div>
  <form>
    <div class="form-group">
      <label for="content">Answer</label>
      {{input value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="user">Author</label>
      {{input value=user id="user"}}
    </div>
    <button {{action 'saveAnswer'}}>Save</button>
  </form>
</div>
