<div>
  <form>
    <div class="form-group">
      <label for="content">Comment:</label>
      {{input value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="user">Name:</label>
      {{input value=user id="user"}}
    </div>
    <button {{action 'saveAnswer'}}>Save</button>
  </form>
</div>
