body {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1.jpg) no-repeat center center fixed;
  height: auto;
  margin: 5% 15% 0 15%;
  font-family: Sans-Serif;
  position: relative;
  padding-bottom: 50px;
}

#header {
  font-family: 'Satisfy', cursive;
  width: 100%;
}

#question {
  min-height: 10vh;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 30px 30px 40px;
  width: 100%;
}

.row {
  min-height: 10vh;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 30px 30px 40px;
  width: 100%;
}

#row3 {
  background-color: #ce0d41;
  height: 50px;
  width: 100%;
}

#row2 {
  color: #ce0d41;
}

#row4 {
  background-color: #fff;
  height: 150px;
  width: 100%;
}

.container-fluid {
  background-color: #ce0d41;
}

.jumbotron {
  align-content: center;
  color: #ce0d41;
  font-family: 'Satisfy', cursive;
}


/*.favoriteQsArea {
  margin-bottom: 70px
}*/

#aboutus {
  min-height: 10vh;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 30px 30px 40px;
  width: 100%;
}

#contactus {
  min-height: 10vh;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 30px 30px 40px;
  width: 100%;
}
