<div class="container">
  <header class="jumbotron">
    <h1>TRIVIA Q&A</h1>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contacts{{/link-to}}
  </header>
  <h3><strong>Choose a category:</strong></h3>
  <hr>
  <div class="list">
    {{outlet}}
    <hr>
  </div>
</div>
