<div class="container" id="contactus" align-content="center">
  <h2><u>Contact Us</u></h2>
  <p><strong>ASK A TECH SUPPORT</strong></p>
  <p>Have a tech support question? Email us at ts@trviahub.com .We'll respond as soon as possible</p>
  <p><strong>REPORT A PROBLEM</strong></p>
  <p>Did you come across a problem? Suspect sapm or abuse? Repotr problems to abuse@triviahub.com</p>
  <p><strong>GIVE FEEDBACK</strong></p>
  <p>Got other ideas? Got other questions or features you'd like to be implemented? Send feedback to feedback@triviahub.com</p>
  <p><strong>NORMAL EMAIL</strong></p>
  <p>Get in touch with us using:</p>
  <p>Trivia Hub<br> 202 Riverwood Prk, Suite 15,<br> Riverwood City, SA 12458.</p>
</div>
