<div>
  <h3 id="row2"><strong>Choose a category:</strong></h3></div>
{{#each model.categories as |category|}}
{{category-popularity category}} {{category-tile category=category update="update"}}
{{/each}}

{{new-category saveCategory="saveCategory"}}
